{% extends "layout.twig" %}

{% block ga_extras %}
    {% if app.request.attributes.get('_route') == 'edit' %}
    ga('set', 'page', '/edit/<package-uuid>');
    ga('set', 'dimension2', '{{package.id}}');
    ga('set', 'dimension3', '{{package.title}}');
    {% endif %}
{% endblock %}

{% block content %}

    <div class="ui grid stackable">

        <div class="wide column">
            <div class="ui form">
                {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.source) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.submit, {attr:{class:'ui fluid large vk submit button'}}) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}
