{% extends "layout.twig" %}

{% block ga_extras %}
    ga('set', 'page', '/tests/<package-uuid>');
    ga('set', 'dimension2', '{{package.id}}');
    ga('set', 'dimension3', '{{package.title}}');
{% endblock %}

{% block header_title %} | {{ package.title }}{% endblock %}

{% block content %}
    <div class="ui grid stackable centered">
        <div class="twelve wide column">
            <h2 class="ui header">
                <img class="ui rounded image" src="/files/{{ package.type }}.png">
                <div class="content">
                    {{ package.title }}
                    <div class="sub header">by {{ package.authors }}</div>
                </div>
            </h2>
        </div>

        {% include 'partials/_package_testing.twig' %}

    </div>
{% endblock %}
