{#
 # Passed in variables:
 #   * stage — The stage of the workflow, either
 #             email     — Form to enter the account email address
 #             submitted — After the email address has been submitted
 #             password  — Form to enter *new* password
 #             reset     — After the new password has been saved to the database
 #   * link  — Relative URL to the login page
 #}
{% extends twigparent %}

{% block recovery %}
    {% include "feedback.twig" %}

    <div class="recovery ui two column centered grid">
        <div class="column member-recovery">

            {%  if stage == 'email' %}
                {{ _self.recovery_start(form_profile_recovery) }}
            {% elseif stage == 'password' %}
                {{ _self.recovery_finish(form_profile_recovery) }}
            {% elseif stage == 'submitted' %}
                <p>An email has been send to {{ email }}. Please follow the instructions to complete the process.</p>
            {% elseif stage == 'reset' %}
                <p>Password reset was successful!</p>
                <p><a href="{{ link }}">Click here to go to the login page…</a></p>
            {% else %}
                <p>Invalid request!</p>
            {% endif %}

        </div>
    </div>

{% endblock recovery %}

{% macro recovery_start(form_profile_recovery) %}
    <div>
        <h3>Password reset request</h3>
        <p>
        If you would like to request a password reset, you can use the form below to send a link to the email
        address you registered with. Please note that the link in the email is only valid for 10 minutes, after
        which you'll need to make a new request.
        </p>
    </div>

    <div class="ui form">
        {{ form_start(form_profile_recovery, {'attr': {'class': 'ui large form'}}) }}

        <div class="field">
            {{ form_row(form_profile_recovery.email) }}
        </div>

        {% do form_profile_recovery.password.setRendered %}

        <div class="field">
            {{ form_row(form_profile_recovery.submit, {'label': 'Send Reset Request »', 'attr': {'class': 'ui fluid large green submit button'}}) }}
        </div>

        {{ form_end(form_profile_recovery) }}
    </div>
{% endmacro %}

{% macro recovery_finish(form_profile_recovery) %}
    <p>Enter a new password for your account</p>

    <div class="ui form">
        {{ form_start(form_profile_recovery, {'attr': {'class': 'ui large form'}}) }}

        {% do form_profile_recovery.email.setRendered %}

        <div class="field">
            {{ form_row(form_profile_recovery.password) }}
        </div>

        <div class="field">
            {{ form_row(form_profile_recovery.submit, {'label': 'Continue »', 'attr': {'class': 'ui fluid large green submit button'}}) }}
        </div>

        {{ form_end(form_profile_recovery) }}
    </div>
{% endmacro %}
