{% extends twigparent %}

{% block members %}
    {% block splash %}
        <h2>Register for an account</h2>
    {% endblock %}

    <div>
        <h3>Registration Information</h3>
        <p>
        Registering for an account allows you to submit extensions and themes that will then be available within the
        extensions manager.
        </p>
        <p>
        <strong>Note:</strong> Extensions submitted are subject to moderation according to
        <a href="http://docs.bolt.cm/extensions/config" target="_blank">the submission guidelines</a>.
        </p>
    </div>

    <br>

    {{ form_start(form_register, {'attr': {'class': 'ui form'}}) }}

    {{ form_errors(form_register) }}

    <div class="field">
        {{ form_row(form_register.displayname) }}
    </div>
    <div class="field">
        {{ form_row(form_register.email) }}
    </div>

    {% if transitional %}
        {% do form_register.password.setRendered %}
    {% else %}
        <div class="field">
            {{ form_row(form_register.password.first) }}
        </div>
        <div class="field">
            {{ form_row(form_register.password.second) }}
        </div>
    {% endif %}

    <br>
    {{ form_row(form_register.submit, {'attr': {'class': 'ui fluid large green submit button'}, 'label': 'Create Account »'}) }}

    {{ form_end(form_register) }}


{% endblock %}
